body{
  background-color: hsl(204, 79%, 44%);
}

.to-do-list{
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
  color: black;
}

h1{
  font-size: 4rem;
}

button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5 ease;
}

.add-button{
  background-color: hsl(125, 47%, 54%);
}

.add-button:hover {
  background-color: hsl(130, 86%, 27%)
}

.delete-button{
  background-color: hsl(0, 88%, 53%);
}

.delete-button:hover {
  background-color: hsl(0, 94%, 40%)
}

.move-button{
  background-color: hsl(233, 73%, 37%);
}

.move-button:hover {
  background-color: hsl(230, 97%, 41%)
}

input[type="text"]{
  font-size: 1.6rem;
  padding:10px;
  border:2px solid hsl(180, 4%, 54%);
  border-radius: 5px;
  color: black;
}

ol{
  padding:0;
}
li{
  font-size:2rem;
  font-weight:bold;
  padding:15px;
  background-color: hsl(69, 7%, 80%);
  margin-bottom: 10px;
  border: 3px solid hsla(hue, saturation, lightness, alpha);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.text{
  flex: 1;
}
.delete-button, .move-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}